<% if object.errors.any? %>
  <div id="error_explanation">
    <p>
     <%= pluralize( object.errors.count, "error" ) %>をアドバイス
      <ul>
      	<%= object.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
      	<% end %>
      </ul>
    </p>
  </div>
<% end %>
