</div>
 <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">user-index</h5>
          <div class="card-body">
            <div class="card-text">
              <%= @users.each do |user| %>
                <p>
                  <%= link_to user.name, user %>
                  <% if current_user.admin? && !current_user?(user) %>
                    <% link_to "delete", user_path, method: :delete, data: { confirm: "You sure?" } %>
                  <% end %>  
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">project-index</h5>
          <div class="card-body">
            <p class="card-text">進行中のプロジェクト</p>
          </div>
        </div>
      </div>
    </div>
</div>
    