<div class="jumbotron">
  <h2 class="display-4">WELCOME!</h2>
  <div class="btn btn-primary btn-lg">ログイン</div>
</div>
 <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h5 class="card-header">user-index</h5>
          <div class="card-body">
            <p class="card-text">本日出勤しているスタッフ</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <h5 class="card-header">project-index</h5>
          <div class="card-body">
            <p class="card-text">進行中のプロジェクト</p>
          </div>
        </div>
      </div>
    </div>
</div>
    