@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: "8bit";
  src: font-url("/assets/PixelMplus12-Bold.ttf");
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//all.view

body {
    color: white;
    background-color: black
}

.undertale {
    background-color: black;
    color: white;
    margin: 15px 200px;
    border: 0.6rem solid white;
}

.dropdown_body {
  font-family: "8bit";
  margin-left: 20px;
  margin-bottom: 20px;

  a {
    font-size: 25px;
    text-decoration: none;
    color: yellow;
    cursor: pointer;
  }


  .dropdown-menu {
    background-color: #555555;
    margin-right: 210px;
    height: 40px;

    a{
      font-size: 20px;
      color: white;
      text-decoration: none;
    }
    img {
      margin-left: 10px;
    }
  }
}

img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.title{
  text-align: center;
  font-size: 42px;
  margin-top: 15px;

  p {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: orange;
    border: 0.1rem solid orange;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    margin-right: 5px;


    &:hover {
      color: #FFD700;
      border: 0.1rem solid #FFD700;
    }
  }

  .flowy {
    height: 250px;
    width: 250px;
    border: 0.6rem solid white;
  }

  .bugerpant {
    height: 250px;
    width: 250px;
    border: 0.6rem solid white;
  }

  .bratty_and_catty {
    height: 250px;
    width: 450px;
    border: 0.6rem solid white;
  }

  .heart {
    height: 50px;
    width: 50px;
  }

 }

.icon {
  height: 25px;
  width: 25px;
  margin-right: 5px
}
/* typography (全てのviewファイルで使われるフォントの設定)*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
    list-style: none;
}

.adress-font {
    opacity: 0.5;
}

//header

.container {


    li {
      list-style: none;
      font-size: 20px;
      color: #777777;
      text-shadow: 0 1px #000000;

      &:hover {
        color: #C0C0C0;
      }
    }

    a {
      list-style: none;
      font-size: 20px;
      color: #777777;
      text-decoration: none;
      text-shadow: 0 1px #000000;

      &:hover {
        color: #C0C0C0;
      }
    }
  }

.dropdown {

  .btn {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dropdown-menu {
    background-color: #555555;


    a {
      background-color: #555555;
      text-align: center;
      margin: 10px;
    }
  }
}



//toppage


.display-4 {
    padding-top: 30px;
    padding-left: 20px;
    margin: 0;
}

.btn {
    margin: 20px;
}

.card-text {


  a {
    text-align: left;
    font-family: "8bit";
    padding-left: 40px;
    padding-top: 15px;
    font-size: 40px;
    text-decoration: none;
    color: white;
  }
}

//form

.form-group {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#error_explanation {
  width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  ul {
    text-align: left;
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

//show
.nav-tabs {
  font-family: "8bit";
  text-decoration: none;
  margin-left: 20px;
  margin-top: 15px;
  a {
    color: white;
  }
}

.project-title {
  text-align: center;
  font-family: "8bit";
  font-size: 60px;

  a {
    list-style: none;
    color: white;
    text-decoration: none;
  }

  small{
    font-size: 20px;
    font-family: "cursive";
  }
}

.command {
  text-align: center;
  font-family: "8bit";
  margin-bottom: 20px;

  a {
    font-size: 30px;
    text-decoration: none;
    color: orange;
    border: 0.1rem solid orange;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;


    &:hover {
      color: #FFD700;
      border: 0.1rem solid #FFD700;
    }
 }
}

.project-content {
  font-size: 30px;
  text-align: left;
  padding-left: 30px;
}

.project-image {
  text-align: center;
  height: 250px;
  width: auto;
  margin-bottom: 10px;
}

.comment-content {
  border-top: thick double gray;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  small {
    font-size: 15px;
    color: gray;
  }

  a {
    list-style: none;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px #000000;

    &:hover {
      color: #C0C0C0;
    }
  }
}

//selif

.selif-left {
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: white;
  border: solid 3px #555;
  box-sizing: border-box;
}

.selif-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.selif-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.selif-left p {
  font-family: '8bit';
  margin: 0;
  padding: 0;
}

.selif-right {
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: white;
  border: solid 3px #555;
  box-sizing: border-box;
}

.selif-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -23px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

.selif-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -29px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

.selif-right p {
  font-family: '8bit';
  margin: 0;
  padding: 0;
}

.btn-border {
  border: 2px solid orange;
  border-radius: 0;
  background: black;
  color: orange;
  font-size: 20px;
  font-family: '8bit';
  display: inline-flex;

    &:hover{
      color: #FFD700;
      border: 2px solid #FFD700;
    }
}

//pagenate
.pagenate-all {
  text-decoration: none;
  justify-content: center;
  text-align:center;
}
.page-side {
  width: 120px;
  background-color: #4b6b8d;
  color: white;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  display: inline-flex;

  a {
    color: white;
    text-decoration: none;
  }
}


.pagination {
  justify-content: center;
  margin: 1rem 10px;
  font-weight: 500;
  background-color: #adbdd0;
  padding: 0.92rem 140px;
  display: inline-flex;

  :not([href]):not([class]), a:not([href]):not([class]):hover {
    color: #4b6b8d;
    text-decoration: none;
  }

  a {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
  }
}
